/* variables */ 

//font size
$small: 13px;
$smallm: 14px;
$normal: 22px;
$medium: 24px;
$large: 27px;



//font-family
$monospace: 'Courier Prime', monospaced;

//font-weight
$regular: 400;
$bold: 700;

//color
$blue: #4582b5;
$coral: #fd7d4e;
$grey: #808080;
$white: #ffffff;