* {
  box-sizing: border-box;
  padding: 0;
}

img {
  width: 100%;
}

body {
  font-family: "Courier Prime", monospaced;
}

.container {
  width: 100%;
}

h2, h1 {
  font-size: 400;
  font-weight: 700;
}

h4 {
  font-size: 14px;
  font-weight: 700;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.nav-container {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #808080;
  margin-bottom: 15px;
}
.nav-container .nav__center {
  width: 90%;
  margin: 0 auto;
  text-align: right;
  padding: 10px 0;
}
.nav-container .nav__logo {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.nav__items {
  margin: 0;
}
.nav__items .nav__item {
  list-style: none;
  display: inline-block;
}
.nav__items .nav__item a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
.nav__items .nav__item-none {
  display: none;
}
.nav__items .nav__input {
  border-radius: 30px;
  padding: 3px;
}

@media only screen and (min-width: 576px) {
  .nav__items .nav__item-none {
    display: inline-block;
  }
}
.main-content {
  width: 90%;
  margin: 0 auto 60px auto;
}
.main-content .news {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
.main-content .news__title {
  margin-bottom: 15px;
}
.main-content .news__description {
  padding: 10px 0;
  font-size: 14px;
}

.news__body .news__img {
  width: 300px;
  background: url(https://picsum.photos/200/300?random=1);
}

.aside-container {
  display: none;
}
.aside-container .aside__content {
  width: 100%;
  border-bottom: 1px solid #808080;
}

.aside__tags {
  border-bottom: 1px solid #808080;
}
.aside__tags .tags__items {
  list-style: none;
  text-align: right;
}
.aside__tags .tags__item {
  padding: 2px 4px;
  background-color: #4582b5;
  margin-right: 1px;
  color: #ffffff;
  display: inline-block;
}

.aside__important img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .aside-container {
    display: inline-block;
    margin-left: 40px;
  }
}
.newsletter {
  width: 100%;
  background-color: #f2f4f5;
  text-align: center;
  padding: 40px 0;
}
.newsletter .newsletter__title {
  font-size: 24px;
}

.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.newsletter__group input, .newsletter__group button {
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
}
.newsletter__group button {
  background-color: #fd7d4e;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
