/* buttons */ 

.newsletter__group{
    input, button{
        border-width: 0;
        font-size: $small;
        padding: 5px 10px;
    }
    button{
        background-color: $coral;
        color: $white;
        cursor: pointer;
    }
}
