.aside-container {
    display: none;
    
    .aside__content {
        width: 100%;
        @include border-bottom($grey);
    }
}

.aside__tags {
    @include border-bottom($grey);    
    .tags__items {
        list-style: none;
        text-align: right;
    }
    
    .tags__item {
        padding: 2px 4px;
        background-color: $blue;
        margin-right: 1px;
        color: $white;
        display: inline-block;
    }
}

.aside__important img {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .aside-container {
        display: inline-block;
        margin-left: 40px;
    }
}